@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<header class="intro-header" style="background-image: url('../../img/thumbs up.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="text-center thumb">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <h4 class="text-center">Please check your email to reset your password.</h4>
    <p class="text-center"><a href="@Url.Action("Login", "Account")"><em>Back To Login</em></a></p>
</div>

<style>
    .thumb
    {
        color: orange;
        -webkit-text-stroke: 3px;
        -webkit-text-stroke-color: grey;
    }
</style>