<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/Mountains.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <h3 class="subheading"><b>This is me, you see.</b></h3>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <p>You can find me where the sky is low and the hills are high,</p>
            <p>Walking, observing, and relaxing with a Pit by my side,</p>
            <p>If you have any questions, contact me, I have nothing to hide!</p>
        </div>
    </div>
</div>
<hr>